@media screen and (min-width: 321px) and (max-width: 639px){
  .delivery__bg{
    background-size: cover;
  }

  .salads__bg{
    background-size: cover;
  }

  .deserts__bg{
    background-size: cover;
  }
}