body{
    background: black;
    overflow: hidden;
}

.starwars{
    perspective: 400px;
    color: darkgoldenrod;
    width: 800px;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

.text_div{
    position: relative;
    top: -1000px;
    transform-origin: 50% 100%;
    animation: starwars 50s infinite;
}

@keyframes starwars {
    0%{
        top: 1000px;
        transform: rotateX(20deg) translateZ(0);
    }

    100%{
            top: -6000px;
        transform: rotateX(50deg) translateZ(-2500px);
    }
}