@media screen and (min-width: 640px){
  html{
    font-size: 20px;
  }

.header{

  &__title{
    font-size: 24px;
  }
  &__icon-bar{
    width: 31px;
    height: .2rem;
    position: relative;
    top: 1px;
    left: 1px;
  }

  &__icon-bar::before, &__icon-bar::after{
    width: 31px;
    height: 4px;
  }

  &__icon-bar::before{
    top: -8px;
  }

  &__icon-bar::after{
    top: 8px;
  }
}

  .header_bg{
    &__paragraph{
      font-size: 36px;
      color: #fff;
      left: 39px;
      top: 29px;
      margin-bottom: 5px;
    }
    &__link{
      top: 45px;
      font-size: 24px;
      left: 38px;
    }
  }
}